@import "tailwindcss";

@theme {
  --font-prata: "Prata", serif;
  --font-onest: "Onest", sans-serif;
  --animate-marquee: marquee 75s linear infinite;
  --animate-fadeIn: fadeIn 0.4s ease-out;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }

  }
  /* Infinite Left Scrolling Animation */
  --animate-marquee: marquee 60s linear infinite;
  
  /* Infinite Right Scrolling Animation */
  --animate-marquee-reverse: marquee-reverse 60s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  @keyframes marquee-reverse {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }
}
html {
  scroll-behavior: smooth;
}