@import "tailwindcss";

@theme {
  --font-prata: "Prata", serif;
  --font-onest: "Onest", sans-serif;
  --animate-marquee: marquee 75s linear infinite;
  --animate-fadeIn: fadeIn 0.4s ease-out;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}